<h1>Editing Client Publishing Setting</h1>

<%= render 'form', client_publishing_setting: @client_publishing_setting %>

<%= link_to 'Show', @client_publishing_setting %> |
<%= link_to 'Back', client_publishing_settings_path %>
