<p id="notice"><%= notice %></p>

<%= render 'basic_info', client: @client %>
<%= render 'publishing_setting', publishing_setting: @publishing_setting %>

<%#= render 'publishing_term', publishing_term: @publishing_term %>
